nav{
    background-color: #225D7E;
    padding: 30px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 35px;
  }

li{
    background-color: #5084A1;
    width: 250px;
    height: 40px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    flex-wrap: wrap;
    }

.TextoHeader{
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
   
}

h1{
    background-color: #225D7E;
    border-radius: 50px;
    width: 360px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.TextoCV{
    display: flex;
    justify-content: center;
    margin-top: 0;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

h2{
    background-color: #5084A1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    flex-wrap: wrap;
}

.Subtitulo{
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor{
    background-color: #225D7E;
    border-radius: 55px;
    padding: 40px;
    width: 800px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.cajatxt{
    font-size: large;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color:#5084A1;
    width: 75%;
    height: auto;
    margin-left: 20px;
    flex-wrap: wrap;
}

footer{
    background: #225D7E;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    left: 0;
    flex-wrap: wrap;
}
